body{
    background-color: #d3d3d3;
}
h1{
    margin:auto;
    text-align: center;
    padding: 20px;
}
img{
    margin:auto;
    display: block;
    padding: 20px;
    background-color: #808080;
    border: solid #1500fe 5px;
    width: 200px;
    height: auto;
}